# Configuración Global de Microservicios Interseguro
JWT_SECRET=interseguro_super_secret_key_2024

# API Go (Fiber)
GO_PORT=3000
NODE_API_URL=http://api-node:4000

# API Node.js (Express)
NODE_PORT=4000

# Frontend
FRONTEND_PORT=8080
