# Entorno
.env
.env.local

# Dependencias Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Binarios y builds de Go
api-go/server
api-go/main
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
